# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/venv
**/__pycache__
**/.env
**/fuseki

fast_api_backend/v5/data_excel/DoanhNghiepHCM.xlsx
fast_api_backend/models/v2/data/opendata_hcm_clean.csv