fastapi
uvicorn
python-multipart
PyMuPDF
python-docx
openpyxl
pymongo
rdflib
sentence-transformers
faiss-cpu
openai
python-dotenv
SPARQLWrapper
pandas
openpyxl
rapidfuzz
pdfplumber 
beautifulsoup4  
spacy 
transformers 
googletrans
pydantic
PyPDF2